@media only screen and (min-width: 991px) {
  body {
    background: #f1f1f1; }
    body .email-container {
      display: block;
      font-family: Poppins, sans-serif;
      width: 50%;
      margin: auto; }
      body .email-container__header {
        background: white;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly; }
      body .email-container__heading {
        display: inline-block;
        width: 40%;
        font-size: 1.5rem;
        padding-top: 1rem; }
      body .email-container__navigation {
        width: 50%;
        color: grey;
        padding-top: 1rem; }
        body .email-container__navigation ul {
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          flex-flow: wrap; }
      body .email-container__modern-website {
        height: 25rem;
        background-image: url("../img/modern-website.jpg");
        background-size: 100% 100%;
        color: white;
        text-align: center;
        padding: 5rem 2rem 0 2rem;
        font-size: 1.5rem; }
        body .email-container__modern-website p {
          color: whitesmoke; }
      body .email-container__our-services {
        background-color: white;
        text-align: center;
        padding: 2rem 2rem 0 2rem;
        font-size: 1.2rem;
        height: 25rem; }
        body .email-container__our-services p {
          color: grey; }
      body .email-container__branding {
        display: inline-block;
        width: 30%;
        background: whitesmoke;
        height: 50%;
        margin-left: -5px; }
        body .email-container__branding h3 {
          font-size: 15px; }
        body .email-container__branding p {
          font-size: 15px;
          padding: 0 1rem 0 1rem; }
      body .email-container__branding--design {
        background: #e4e3e3; }
      body .email-container__our-services--business-strategy {
        display: block;
        height: 15rem;
        background: whitesmoke; }
      body .email-container__branding--business-strategy {
        height: 15rem;
        width: 40%; }
        body .email-container__branding--business-strategy h3 {
          font-size: 1.2rem;
          font-weight: bold; }
        body .email-container__branding--business-strategy p {
          font-weight: bold;
          font-size: 1.2rem; }
      body .email-container__read-more {
        display: inline-block;
        padding: 5px 15px;
        background: blue;
        color: white;
        border: 1px solid blue;
        border-radius: 5%;
        font-weight: bold;
        font-size: 1.1rem; }
      body .email-container__branding--business-image {
        position: relative;
        top: -100%;
        width: 50%; } }

@media (min-width: 565px) and (max-width: 991px) {
  body {
    background: #f1f1f1; }
    body .email-container {
      display: block;
      width: 50%;
      margin: auto; }
      body .email-container__header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly; }
      body .email-container__heading {
        display: inline-block;
        width: 40%;
        font-size: 1.5rem;
        padding-top: 1rem; }
      body .email-container__navigation {
        width: 50%;
        color: grey;
        padding-top: 1rem; }
        body .email-container__navigation ul {
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          flex-flow: wrap; }
      body .email-container__modern-website {
        height: 20rem;
        background-image: url("../img/modern-website.jpg");
        background-size: 100% 100%;
        color: white;
        text-align: center;
        padding: 5rem 2rem 0 2rem;
        font-size: 1.5rem; }
        body .email-container__modern-website p {
          color: whitesmoke; }
      body .email-container__our-services {
        background-color: white;
        text-align: center;
        padding: 2rem 2rem 0 2rem;
        font-size: 1.2rem; }
        body .email-container__our-services p {
          color: grey; }
      body .email-container__branding {
        display: inline-block;
        width: 32%;
        background: whitesmoke;
        height: 50%;
        margin-left: -5px; }
        body .email-container__branding h3 {
          font-size: 15px; }
        body .email-container__branding p {
          font-size: 15px;
          padding: 0 1rem 0 1rem; }
      body .email-container__branding--design {
        background: #e4e3e3; }
      body .email-container__our-services--business-strategy {
        background: whitesmoke; }
      body .email-container__branding--business-strategy {
        width: 50%; }
        body .email-container__branding--business-strategy h3 {
          font-size: 1.2rem;
          font-weight: bold; }
        body .email-container__branding--business-strategy p {
          font-weight: bold;
          font-size: 1.2rem; }
      body .email-container__read-more {
        display: inline-block;
        padding: 5px 15px;
        background: blue;
        color: white;
        border: 1px solid blue;
        border-radius: 5%;
        font-weight: bold;
        font-size: 1.1rem; }
      body .email-container__branding--business-image {
        position: relative;
        width: 50%; } }

@media only screen and (max-width: 565px) {
  body {
    background: #f1f1f1; }
    body .email-container {
      display: block;
      width: 50%;
      margin: auto; }
      body .email-container__header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly; }
      body .email-container__heading {
        display: inline-block;
        width: 40%;
        font-size: 1.5rem;
        padding-top: 1rem; }
      body .email-container__navigation {
        width: 50%;
        color: grey;
        padding-top: 1rem; }
        body .email-container__navigation ul {
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          flex-flow: wrap; }
      body .email-container__modern-website {
        height: 25rem;
        background-image: url("../img/modern-website.jpg");
        background-size: 100% 100%;
        color: white;
        text-align: center;
        padding: 5rem 2rem 0 2rem;
        font-size: 1.5rem; }
        body .email-container__modern-website p {
          color: whitesmoke; }
      body .email-container__our-services {
        background-color: white;
        text-align: center;
        padding: 2rem 2rem 0 2rem;
        font-size: 1.2rem; }
        body .email-container__our-services p {
          color: grey; }
      body .email-container__branding {
        display: inline-block;
        width: 30%;
        background: whitesmoke;
        height: 50%;
        margin-left: -5px;
        text-align: center; }
        body .email-container__branding h3 {
          font-size: 15px; }
        body .email-container__branding p {
          font-size: 1rem;
          padding: 0 1rem 0 1rem; }
      body .email-container__branding--design {
        background: #e4e3e3; }
      body .email-container__our-services--business-strategy {
        background: whitesmoke; }
      body .email-container__branding--business-strategy {
        position: relative;
        top: -1rem;
        width: 50%; }
        body .email-container__branding--business-strategy h3 {
          font-size: 1.2rem;
          padding-top: -10px;
          font-weight: bold; }
        body .email-container__branding--business-strategy p {
          font-weight: bold;
          font-size: 1.2rem; }
      body .email-container__read-more {
        display: inline-block;
        padding: 5px 15px;
        background: blue;
        color: white;
        border: 1px solid blue;
        border-radius: 5%;
        font-weight: bold;
        font-size: 1.1rem; } }
