@import "./config";
@import "./colors";
@import "./mixin";
$break-large: 991px;
$break-small: 565px;

@media only screen and(min-width:$break-large) {
  body {
    background: $bg-color;
    .email-container {
        display: block;
        font-family: $font-family;
        width: 50%;
        margin: auto;
        &__header{
            background: white;
           @include row-flex;
        };
        &__heading {
            display: inline-block;
            width: 40%;
            font-size: map-get($font-sizes,"heading");
            padding-top: 1rem; 
        };
        &__navigation {
            width: 50%;
            color:$text-lighten-color;
            padding-top: 1rem; 
           ul{
            @include row-flex{
                flex-flow: wrap;
            }
           }
        };
        &__modern-website {
            height: 25rem;
            background-image: url('../img/modern-website.jpg');
            background-size: 100% 100%;
            color: white;
            text-align: center;
            padding: 5rem 2rem 0 2rem;
            font-size: 1.5rem;
            p {
                color: whitesmoke;
            }
        };
        &__our-services {
            background-color: white;
            text-align: center;
            padding: 2rem 2rem 0 2rem;
            font-size: 1.2rem;
            height: 25rem;
            p {
                color: $text-lighten-color;
            }
        };
        &__branding{
            display: inline-block;
            width: 30%;
            background: whitesmoke;
            height: 50%;
            margin-left: -5px;
            h3 {
                font-size: 15px;
            };
            p{
                font-size: 15px;
                padding: 0 1rem 0 1rem;
            }
        };
        &__branding--design {
            background: rgb(228, 227, 227);
        };
        &__our-services--business-strategy {
            display: block;
            height: 15rem;
            background: whitesmoke;
        };
        &__branding--business-strategy{
            height: 15rem;
            width: 40%;
          h3 {
              font-size: 1.2rem;
              font-weight: bold;
          };
          p{
              font-weight: bold;
              font-size: 1.2rem;
          }
        };
        &__read-more {
            @include button;
        };
        &__branding--business-image {
            position: relative;
            top: -100%;
            width: 50%;
        }
    }
  }
}
@media (min-width: $break-small) and (max-width: $break-large) {
  body {
    background: $bg-color;
    .email-container {
        display: block;
        width: 50%;
        margin: auto;
        &__header{
            width: 100%;
            @include row-flex;
         };
         &__heading {
             display: inline-block;
             width: 40%;
             font-size: map-get($font-sizes,"heading");
             padding-top: 1rem;
         };
         &__navigation {
             width: 50%;
             color:$text-lighten-color;
             padding-top: 1rem; 
            ul{
             @include row-flex{
                 flex-flow: wrap;
             }
            }
        };
        &__modern-website {
            height: 20rem;
            background-image: url('../img/modern-website.jpg');
            background-size: 100% 100%;
            color: white;
            text-align: center;
            padding: 5rem 2rem 0 2rem;
            font-size: 1.5rem;
            p {
                color: whitesmoke;
            }
        };
        &__our-services {
            background-color: white;
            text-align: center;
            padding: 2rem 2rem 0 2rem;
            font-size: 1.2rem;
            p {
                color: $text-lighten-color;
            }
        };
        &__branding{
            display: inline-block;
            width: 32%;
            background: whitesmoke;
            height: 50%;
            margin-left: -5px;
            h3 {
                font-size: 15px;
            };
            p{
                font-size: 15px;
                padding: 0 1rem 0 1rem;
            }
        };
        &__branding--design {
            background: rgb(228, 227, 227);
        };
        &__our-services--business-strategy {
            background: whitesmoke;
        };
        &__branding--business-strategy{
            width: 50%;
          h3 {
              font-size: 1.2rem;
              font-weight: bold;
          };
          p{
              font-weight: bold;
              font-size: 1.2rem;
          }
        };
        &__read-more {
            @include button;
        };
        &__branding--business-image {
            position: relative;
            width: 50%;
           
        }
    }
  }
}
@media only screen and(max-width: $break-small) {
    body {
        background: $bg-color;
        .email-container {
            display: block;
            width: 50%;
            margin: auto;
            &__header{
                width: 100%;
                @include row-flex;
             };
             &__heading {
                 display: inline-block;
                 width: 40%;
                 font-size: map-get($font-sizes,"heading");
                 padding-top: 1rem;
             };
             &__navigation {
                 width: 50%;
                 color:$text-lighten-color;
                 padding-top: 1rem; 
                ul{
                 @include row-flex{
                     flex-flow: wrap;
                 }
                }
            };
            &__modern-website {
                height: 25rem;
                background-image: url('../img/modern-website.jpg');
                background-size: 100% 100%;
                color: white;
                text-align: center;
                padding: 5rem 2rem 0 2rem;
                font-size: 1.5rem;
                p {
                    color: whitesmoke;
                }
            };
            &__our-services {
                background-color: white;
                text-align: center;
                padding: 2rem 2rem 0 2rem;
                font-size: 1.2rem;
                p {
                    color: $text-lighten-color;
                }
            };
            &__branding{
                display: inline-block;
                width: 30%;
                background: whitesmoke;
                height: 50%;
                margin-left: -5px;
                text-align: center;
                h3{
                    font-size: 15px;
                };
                p{
                    font-size: 1rem;
                    padding: 0 1rem 0 1rem;
                }
            };
            &__branding--design {
                background: rgb(228, 227, 227);
            };
            &__our-services--business-strategy {
                background: whitesmoke;
            }
            &__branding--business-strategy{
               position: relative;
               top: -1rem;
                width: 50%;
              h3 {
                  font-size: 1.2rem;
                  padding-top: -10px;
                  font-weight: bold;
              };
              p{
                  font-weight: bold;
                  font-size: 1.2rem;
              }
            };
            &__read-more {
                @include button;
            }
        }
      }
}
