@mixin button{
    display: inline-block;
    padding: 5px 15px;
    background:blue;
    color:white;
    border: 1px solid blue;
    border-radius: 5%;
    font-weight: bold;
    font-size: 1.1rem;
};
@mixin row-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    @content;
}